<div class="body  " [@ease-in]>
 <div class="container mt-3 mb-5">
     <div class="row justify-content-center">
         <div class="jumbotron background-main text-light p-4  col-md-12">
             <div class="container">
                 <h1 class="display-5">What is COVID-19?</h1>
                 <p class="lead">Coronavirus disease (COVID-19) is an infectious disease caused by a new virus.
                    The disease causes respiratory illness (like the flu) with symptoms such as a cough, fever, and in more severe cases, difficulty breathing. You can protect yourself by washing your hands frequently, avoiding touching your face, and avoiding close contact (1 meter or 3 feet) with people who are unwell.</p>
                 <hr class=" bg-light my-2">
                 <p class="lead">For more info click the button to redirect to <strong>World Health Org</strong>  Website</p>
                 <p class="lead">
                     <a class="btn btn-warning btn-md" href="https://www.who.int/" role="button">W.H.O Website</a>
                 </p>
             </div>
         </div>
         <div class="how-it-spread-section">
            <div class="card bg-info p-3">
                <div class="card-body text-center   text-light ">
                        <div class="justify-content-center">
                            <div class="spread-info mb-5 col-md-12">
                                <p class="card-title h4">HOW IT SPREADS?</p>
                                <p class="card-text lead">Coronavirus disease spreads primarily through 
                                    contact with an infected person when they cough or sneeze.
                                     It also spreads when a person touches a surface or object that has the virus on it, 
                                     then touches their eyes, nose, or mouth.
                                    </p>
                            </div>
                                <img [@flipper] src="https://reachisc.com/assets/image/svg/mask.svg"
                                class="img-thumbnail" alt="Cinque Terre" alt="">
                                <img [@flipper] src="https://image.flaticon.com/icons/svg/1497/1497065.svg"
                                class="img-thumbnail" alt="Cinque Terre" alt="">
                                <img [@flipper] src="https://images.vexels.com/media/users/3/149866/isolated/preview/241c21dcc39cdc8e4aceddd51f2411a9-high-fever-sickness-symptom-icon-by-vexels.png"
                                class="img-thumbnail" alt="Cinque Terre" alt="">
                        </div>
                </div>
            </div>
         </div>
         <div class="how-to-prevent mt-5  text-center">
             <div class="how-to-header m-3">
                <h1 class="display-4">Prevention</h1>
                <p class="lead">
                    You can protect yourself and help prevent spreading the virus to others if you:
                </p>
             </div>
             <div class="row">
                 <div class="card-container col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                          <p class="card-title h4">Washing Hands</p>
                          <img src="https://cdn.shopify.com/s/files/1/0118/0844/0386/products/il_794xN.1773288397_mrbr_300x300.jpg?v=1584740873"
                                     class="rounded-circle bg-dark" alt="Cinque Terre" alt="">
                        </div>
                        <div class="card-body">
                         <p class="lead">Wash your hands regularly for 20 seconds, with soap and water or alcohol-based hand rub</p>
                        </div>
                      </div>
                 </div>
                 <div class="card-container col-md-4">
                 <div class="card">
                    <div class="card-body">
                      <p class="card-title h4">Wear Mask</p>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQpGVm9XClBk2qEb9I4mXqZSETglmSxt3SXBFbADepR8730p2nT&usqp=CAU"
                                class="rounded-circle bg-dark" alt="Cinque Terre" alt="">
                    </div>
                    <div class="card-body">
                     <p class="lead">
                        Cover your nose and mouth with a disposable tissue or flexed elbow when you cough or sneeze
                     </p>
                    </div>
                  </div>
                 </div>
                 <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                          <p class="card-title h4">Social Distancing</p>
                          <img src="https://image.flaticon.com/icons/svg/2785/2785828.svg" 
                          class="rounded-circle bg-dark" alt="Cinque Terre" alt="">
                        </div>
                        <div class="card-body">
                         <p class="lead">
                            Avoid close contact (1 meter or 3 feet) 
                            with people who are unwell. Follow your government 
                            instructions.
                         </p>
                        </div>
                      </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
